@mixin border($color: rgba(0, 0, 0, 1), $border-radius: 10px) {
  & {
    position: relative;
    overflow: hidden;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    border: 1px solid $color;
    border-radius: $border-radius;
    transform-origin: 0 0;
    pointer-events: none;
    box-sizing: border-box;
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 1dppx) {
      transform: scale(1);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      transform: scale(0.5);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      transform: scale(0.33);
    }
  }
}

@mixin border-top($color: rgba(0, 0, 0, 1)) {
  & {
    position: relative;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $color;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 1dppx) {
      transform: scaleY(1);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      transform: scaleY(0.5);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      transform: scaleY(0.33);
    }
  }
}

@mixin border-bottom($color: rgba(0, 0, 0, 1)) {
  & {
    position: relative;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: $color;
    display: block;
    z-index: 1;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 1px;
    transform: scaleY(0.5);
    @media (-webkit-min-device-pixel-ratio: 1), (min-resolution: 1dppx) {
      transform: scaleY(1);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
      transform: scaleY(0.5);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      transform: scaleY(0.33);
    }
  }
}

@mixin border-left($color: rgba(0, 0, 0, 1)) {
  & {
    position: relative;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $color;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(1);
  }
}

@mixin border-right($color: rgba(0, 0, 0, 1)) {
  & {
    position: relative;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: $color;
    display: block;
    z-index: 1;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 1px;
    height: 100%;
    transform: scaleY(1);
  }
}