$color-primary: #1890ff;
$color-success: #52c41a;
$wcolor-warning: #faad14;
$color-error: #e94f4f;

$border-color: rgba(0, 0, 0, 0.15);

$font-color-black: rgba(0, 0, 0, 0.85);
$font-color-dark: rgba(0, 0, 0, 0.65);
$font-color-grep: rgba(0, 0, 0, 0.45);
$font-color-white: rgba(255, 255, 255, 1);