{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ]
  ],
  // "plugins": [
  //   "@babel/plugin-transform-runtime", // 来处理全局函数和优化babel编译
  // ],
  "env": {
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]]
    }
  },
  "comments": false // 打包时 移除脚本中的注释
}
