.markdown-content {
  background-color: #fff;
  padding: 0px 40px;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6 {
    margin: 12px 0px;
    color: #333;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0px;
    font-weight: normal;
  }
  p > code {
    background-color: #f2f2f2;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 2px;
  }
  pre {
    white-space: pre;
  }
  pre.hljs {
    line-height: 1.5;
    font-size: 13px;
    padding: 12px 18px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(229, 229, 229, 0.5);
  }
  table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    margin-bottom: 24px;
  }
  table th {
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
    color: #333;
    font-weight: 500;
  }
  table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
    color: #666;
    font-weight: normal;
  }
  table td > code {
    background-color: #f2f2f2;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 1px 3px;
    margin: 0 2px;
  }
}