html,
body {
  font-family: system-ui;
}

.wrap {
  padding: 8px 12px;
  min-height: 100vh;
}

.main-title {
  font-size: 22px;
  line-height: 1.5;
  color: #333;
}

.sub-title {
  font-size: 16px;
  line-height: 2;
  color: #999;
}